<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoCadastrosBase" />
                <binding name="BasicHttpBinding_IServicoCadastrosPrincipais" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CadastrosBaseService/ServicoCadastrosBase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoCadastrosBase"
                contract="CadastrosBaseReference.IServicoCadastrosBase" name="BasicHttpBinding_IServicoCadastrosBase" />
            <endpoint address="http://localhost/CadastrosBaseService/ServicoCadastrosPrincipais.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoCadastrosPrincipais"
                contract="CadastrosPrincipaisReference.IServicoCadastrosPrincipais"
                name="BasicHttpBinding_IServicoCadastrosPrincipais" />
        </client>
    </system.serviceModel>
</configuration>