<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicoCadastrosBase" />
                <binding name="BasicHttpBinding_IServicoCadastrosBase1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1043/ServicoCadastrosBase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoCadastrosBase"
                contract="CadastrosBaseReference.IServicoCadastrosBase" name="BasicHttpBinding_IServicoCadastrosBase" />
            <endpoint address="http://localhost:1043/ServicoCadastrosBase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoCadastrosBase1"
                contract="CadastrosPrincipaisReference.IServicoCadastrosBase"
                name="BasicHttpBinding_IServicoCadastrosBase1" />
        </client>
    </system.serviceModel>
</configuration>